<div class="card mt-4 p-4 shadow text-center">
  <h4 class="text-danger">Oops! That's not correct.</h4>
  <p class="mt-3">{{feedbackText}}</p>
  <button id="next-question-btn" class="btn btn-primary">Got it</button>
</div>
